<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="../../css/base.min.css">
    <link rel="stylesheet" type="text/css" href="../../css/items/items.min.css">
    <script src="https://cdn.bootcss.com/jquery/1.12.2/jquery.min.js"></script>
</head>
<body>
  <div class="container">
        <h1>app嵌入H5项目列表地址</h1>
        <ol class="list-all">
        </ol>
  </div>
    <div class="fast-zone">
            <span class="btn btn-span add">增加</span>
            <span class="btn btn-span delete">删除</span>
    </div>
    <div id="mask">
        <div class="add-form">
            <input type="text" class="add-text" placeholder="请输入描述">
            <input type="text" class="add-url" placeholder="请输入url(http://www.qdaily.com)">
            <div>
                <span class="btn btn-span add-confirm">确认</span>
                <span class="btn btn-span add-cancel">取消</span>
            </div>
            <div class="alert-box">请按照要求输入完全</div>
        </div>
    </div>
  <script src="../js/items/items.min.js"></script>
</body>
</html>